<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<rosparam file="$(find rr_suction_pump)/config/pisco_svb18.yaml" />
    <node pkg="rr_suction_pump" type="rr_suction_pump_action_server" name="suction_pump1" output="screen"/>
    <node pkg="rr_suction_pump" type="rr_suction_pump_action_server" name="suction_pump2" output="screen"/>
    <node pkg="rr_suction_pump" type="rr_suction_pump_action_server" name="suction_pump3" 	output="screen"/>
    <node pkg="rr_suction_pump" type="rr_suction_pump_action_server" name="suction_pump4" output="screen"/>
</launch>